* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}
body{
    background-color: black;
}

/* ----------------.home----------- */

.nav_bar {
    background-color: rgba(79, 75, 75, 0.7);
    width: 100%;
    height: 50px;
    color: white;
    display: flex;
}

.nav_bar i {
    margin: 23px 10px 7px 79px;
}

.nav_bar h2 {
    padding: 11px 0;
    font-weight: bolder;
    font-size: 25px;
}

.item {
    display: flex;
    width: 521px;
    margin-left: 500px;
}

.item a {
    padding: 15px 0 14px 52px;
    color: white;
    text-decoration: none;
}

.item a:hover {
    color: yellowgreen;
    transition: color 0.5s;
}

.continer1 {
    background-image: url(images/download.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container2 {
    width: 702px;
    height: 316px;
}

.container2 h1 {
    font-size: 71px;
    text-align: center;
    color: rgb(210, 227, 253);
}

.container2 p {
    color: black;
    margin-left: 196px;
    font-size: 19px;
    margin-top: 2px;

}

.container2 button {
    color: white;
    background-color: green;
    border-color: green;
    border-radius: 20px;
    width: 167px;
    height: 37px;
    margin-left: 228px;
    margin-top: 22px;
}

/* ------------------.Download---------------- */

.download {
    width: 100%;
    height: 100vh;
    margin-top: 25px;
}

.continer3 {
    width: 100%;
    height: 50vh;
}

.popularartists {
    height: 55px;
    background-color: black;
}

.popularartists h2 {
    color: white;
    padding: 11px 0 0 50px;
    font-size: 28px;
}

.subcontiner {
    height: 100%;
    display: flex;
    text-align: center;
    overflow-x: auto;
}

.subcontiner::-webkit-scrollbar {
    width: 0%;
}

.subcontiner .item {
    min-width: 17%;
    margin-left: 22px;
}

.subitem {
    width: 200px;
    height: 200px;
    border-radius: 130px;
    margin: 5px 5px 0 5px;
}

.subitem img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    transition: 0.2s ease all;
}
.subitem img:hover {
    box-shadow: 0 0 11px 0px rgb(177, 177, 177);
}

.icon3 {
    position: relative;
}

.icon3 i {
    position: absolute;
    background-color: rgb(52, 176, 52);
    border-radius: 50%;
    padding: 24px 16px;
    right: -3px;
    top: -91px;
    align-items: center;
    opacity: 0;
    transition: all 0.5s;
}

.subitem:hover i{
    opacity: 1;
}

.name {
    height: 54px;
}

.name p {
    color: rgb(165, 165, 165);
    padding-top: 10px;
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* ----------------.album --------------*/
.continer4 {
    width: 100%;
    height: 50vh;
    background-color: black;
    margin-top: 35px;
}

.popularalbums {
    width: 100%;
    height: 55px;
    background-color: black;

}

.popularalbums h2 {
    color: white;
    padding: 11px 0 0 50px;
    font-size: 28px;
}

.subcontiner1 {
    height: 100%;
    display: flex;
    text-align: center;
    overflow-x: auto;
}

.subcontiner1::-webkit-scrollbar {
    width: 0%;
}

.subcontiner1 .item1 {
    min-width: 17%;
    margin-left: 22px;
    transition: all 0.5s;
}

.icon4 {
    position: relative;
}

.icon4 i {
    position: absolute;
    background-color: rgb(52, 176, 52);
    border-radius: 50%;
    padding: 24px 16px;
    right: -3px;
    top: -91px;
    align-items: center;
    opacity: 0;
    transition: all 0.5s;
}

.item1:hover i{
    opacity: 1;
}

.item1:hover {
    background-color: rgb(45, 45, 45);
}

.album {
    width: 100%;
    height: 30vh;
    padding: 5px;
}

.album img {
    width: 100%;
    height: 29vh;

}

.artists {
    width: 100%;
    height: 46px;

}

.artists p {
    color: rgb(165, 165, 165);
    padding-top: 10px;
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}



/* ------------------.radio ---------------*/
.continer5 {
    width: 100%;
    height: 100vh;
    background-color: black;
    margin-top: 65px;
}

.continer6 {
    width: 100%;
    height: 50vh;

}

.popularradio {
    width: 100%;
    height: 55px;
    background-color: black;
}

.popularradio h2 {
    color: white;
    padding: 11px 0 0 50px;
    font-size: 28px;
}

.subcontiner2 {
    height: 90%;
    display: flex;
    text-align: center;
    overflow-x: auto;
}

.subcontiner2::-webkit-scrollbar {
    width: 0%;
}

.subcontiner2 .item2 {
    min-width: 17%;
    margin-left: 22px;
    transition: all 0.5s;
}
.item2:hover {
    background-color: rgb(45, 45, 45);
}

.radio {
    width: 100%;
    height: 30vh;
    padding: 5px;
}

.radio img {
    width: 100%;
    height: 29vh;

}

.icon5 {
    position: relative;
}

.icon5 i {
    position: absolute;
    background-color: rgb(52, 176, 52);
    border-radius: 50%;
    padding: 24px 16px;
    right: -3px;
    top: -91px;
    align-items: center;
    opacity: 0;
    transition: all 0.5s;
}

.item2:hover i{
    opacity: 1;
}

.subname {
    width: 100%;
    height: 46px;

}

.subname p {
    color: rgb(130 128 128);
    padding-top: 10px;
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


/* ------------------------.spotifyplaylist---------------------- */

.continer7 {
    width: 100%;
    height: 100%;
    margin-top: 45px;
}

.continer8 {
    width: 100%;
    height: 100%;

}

.spotifyplaylist {
    width: 100%;
    height: 55px;

}

.spotifyplaylist h2 {
    color: white;
    padding: 11px 0 0 50px;
    font-size: 28px;
}

.subcontiner3 {
    height: 90%;
    display: flex;
    text-align: center;
    overflow-x: auto;
    background-color: black;

}

.subcontiner3::-webkit-scrollbar {
    width: 0%;
}

.subcontiner3 .item3 {
    min-width: 17%;
    margin-left: 22px;
}

.playlist {
    width: 100%;
    height: 30vh;
    padding: 5px;
}

.playlist img {
    width: 100%;
    height: 29vh;

}

.icon6 {
    position: relative;
}

.icon6 i {
    position: absolute;
    background-color: rgb(52, 176, 52);
    border-radius: 50%;
    padding: 24px 16px;
    right: -3px;
    top: -91px;
    align-items: center;
    opacity: 0;
    transition: all 0.5s;
}

.item3:hover i{
    opacity: 1;
}

.song {
    width: 100%;
    height: 46px;
}

.song p {
    color: rgb(130 128 128);
    padding-top: 10px;
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/*---------------------------- .continer9----------------*/

.continer9 {
    width: 100%;
    height: 40vh;
    background-color: black;
    display: flex;
    margin-top: 100px;
}

.text1 {
    width: 20%;
    height: 42vh;

}

.text1 h2 {

    padding: 10px 0 0 21px;
    color: white;
}

.text1 p {
    padding: 20px;
    color: rgb(194, 194, 194);
    font-size: 20px;


}

.text2 {
    width: 20%;
    height: 42vh;

}

.text2 h2 {

    padding: 10px 0 0 21px;
    color: white;
}

.text2 p {
    padding: 20px;
    color: #b4abab;
    font-size: 20px;
}

.text3 {
    width: 20%;
    height: 42vh;
}

.text3 h2 {

    padding: 10px 0 0 21px;
    color: white;
}

.text3 p {
    padding: 20px;
    color: #b4abab;
    font-size: 20px;
}

.text4 {
    width: 20%;
    height: 42vh;

}

.text4 h2 {

    padding: 10px 0 0 21px;
    color: white;
}

.text4 p {
    padding: 20px;
    color: #b4abab;
    font-size: 20px;
}

.text5 {
    width: 20%;
    height: 42vh;

}

.icon2 {
    width: 160px;
    margin: 28px;

}

.icon2 i {
    padding: 6px;
}

/* -------------------------.footer --------------------*/
.footer {
    width: 100%;
    height: 50px;
    background-color: black;
}

.footer p {
    color: white;
    font-size: smaller;
    text-align: center;
    padding: 10px 0 0 10px;
}